<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="11fc3805-6c54-417b-916c-a4f6e89876b2" Publisher="CN=andy" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="11fc3805-6c54-417b-916c-a4f6e89876b2" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>UwpDeepDive.MainApp</DisplayName>
    <PublisherDisplayName>andy</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="UwpDeepDive.MainApp.App">
      <uap:VisualElements DisplayName="UwpDeepDive.MainApp" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="UwpDeepDive.MainApp" BackgroundColor="#FFFFFF">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="uwpddmainapp" />
        </uap:Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="UwpDeepDive.Bg.AppBgTask">
          <BackgroundTasks>
            <Task Type="general" />
            <Task Type="systemEvent" />
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
        <uap:Extension Category="windows.appService" EntryPoint="UwpDeepDive.Bg.AppBgTask">
          <uap:AppService Name="uwpdeepdive-appservice" />
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>